<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCH</title>
</head>
<body>
    <!-- <form method="get" action="/form-with-get">  CHANGE ROUTE TO /SEARCHES -->
        <div>
          <input name="title" placeholder="Search By Title" />
        </div>
        <div>
          <input name="author" placeholder="Search By Author" />
        </div>
        <div>
          <button type="submit">Search</button>
        </div>
      </form>
</body>

</html>