<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/testSubmit">
    <div>
        <input name="cars" placeholder="What kinda car do you have?" />
    </div>
    <div>
        <input name="pet" placeholder="Your Pet's Name" />
    </div>
    <div>
        <button type="submit">Save User</button>
    </div>
    </form>
</body>
</html>