<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf App</title>
    <link rel="stylesheet" href="/styles/base.css">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <section>
            <h1>Best Books</h1>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
            </div>
        </section>
        
        <div id="searchResultsBar">Search Results</div>

        <!-- Top Navigation Menu -->
<div class="topnav">

    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="#seach">Search</a>
      <a href="#saved">Saved</a>
      <a href="#about">About</a>
    </div>
</div>
    </header>
 

    <footer>
        Here is the footer
    </footer>
</body>
</html>