body {
    background: #9B9B9B;
    max-width: 100%;
    margin: 0 auto;
    
}

.card{
  border: solid 1px black;
  width: 500px;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  background-color: #D8D8D8;
  padding: 25px; /*yep, proof it's treating as one object*/
  border-radius: 5px 5px 10px 10px;
  box-shadow: 0 0 10px 5px  #888888;
  display: flex;
}

/* will probably need to remove */
.lastOne {
  padding-bottom: 50px;
}

ul li {
  list-style: none;
  flex-direction: column;
  /* font-weight: 800; */
}


.capTitle {
  font-weight: 500;
  color: #f5f5f5;
  text-shadow: 2px 2px #808080;

}

.nameClass {
  font-style: italic;
  padding: 5px;
  margin-bottom: 18px;
}

.descripClass {
  background-color: #EEEEEE;
  padding: 12px;
}

html {
    padding: 0px;
    margin: 0px;
}

header, footer {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 55px;
}

h2 {
    color: white;
    padding-top: 15px;
}

.bookCard {
    background-color: #D8D8D8;
}

#searchResultsBar {
    background-color: #4A4A4A;
    color: white;
    line-height: 32px;
}

#searchBar {
    background-color: #4A4A4A;
}

#searchButton {
    background-color: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
  }

  header{
    position: absolute;
    top: 0;
    width: 100%;
  }

   .icon {
       float: right;
       padding-right: 20px;
       margin-top: -70px;
   }


 .greyBall {
     width: 50px;
     height: 50px;
     margin: 20px;
     -moz-border-radius: 25px;
     -webkit-border-radius: 25px;
     border-radius: 25px;
     background-color: grey;
     display: inline-block;
 }


   /* HAMBURGER MENU CODE TAKEN FROM W3 SCHOOLS */

@media (max-width: 450px){


    body {
        background: red;
        margin: 0px;

    }
   /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* display: block; */
    float: right;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    /* display: block; */
    float: right;
    /* position: absolute; */
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  /* .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Style the active link (or home/logo) */
  /* .active {
    background-color: #4CAF50;
    color: white;
  } */

}

